/* public/css/styles.css */
/* Gaya untuk daftar peminjaman buku */

.book-list {
    list-style: none;
    padding: 0;
}

.book-list li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    background-color: #f5f5f5;
}

.book-list li:hover {
    background-color: #e0e0e0;
}
